<section class="bonus" id="bonus">
  <div class="bonus__container container">
    <div class="card-wrapper">
      <div class="bonus__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>
      <div class="bonus__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>
      <div class="bonus__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>
    </div>
    <div class="bonus__rate">
      <p class="bonus__rate-text">Slot Rating from Players</p>
      <div class="bonus__rate-stars stars">
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
        <svg class="stars__item">
          <use xlink:href="img/sprite.svg#star"></use>
        </svg>
      </div>
      <p class="bonus__rate-text">Rank: 99/100</p>
    </div>
  </div>
</section>
