<section class="faq" id="faq" itemscope itemtype="https://schema.org/FAQPage">
  <div class="faq__container container">
    <h2 class="faq__title title">FAQ</h2>

    <div class="faq__drop drop--active" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
      <button class="faq__drop-btn" name="open more"></button>
      <div class="faq__drop-down" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <p class="faq__drop-down_title" itemprop="name">Where can I play the spin game?</p>
        <p class="faq__drop-down_text" itemprop="text">You can enjoy the live casino game in any online casino. Ensure it's regulated and licensed for max safety playing online.</p>
      </div>
    </div>

    <div class="faq__drop" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
      <button class="faq__drop-btn" name="open more"></button>
      <div class="faq__drop-down" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <p class="faq__drop-down_title" itemprop="name">Where can I play the spin game?</p>
        <p class="faq__drop-down_text" itemprop="text">You can enjoy the live casino game in any online casino. Ensure it's regulated and licensed for max safety playing online.</p>
      </div>
    </div>

    <div class="faq__drop" itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
      <button class="faq__drop-btn" name="open more"></button>
      <div class="faq__drop-down" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <p class="faq__drop-down_title" itemprop="name">Where can I play the spin game?</p>
        <p class="faq__drop-down_text" itemprop="text">You can enjoy the live casino game in any online casino. Ensure it's regulated and licensed for max safety playing online.</p>
      </div>
    </div>

  </div>
</section>
