<footer class="footer">
  <div class="footer__container container">
    <a class="footer__logo" href="#">
      <picture>
        <source srcset="img/logo.avif" type="image/avif">
        <source srcset="img/logo.webp" type="image/webp">
        <img loading="lazy" src="img/logo.png" class="image footer__logo-img" width="454" height="141" alt="logo">
      </picture>
    </a>
    <p class="footer__text text">Be ready to have fun and win money online simultaneously in Crazy Time game show by Evolution. Just place a bet on your lucky number. With multipliers up to 25,000x and 4 bonus games your chances on reward are even higher.</p>
  </div>
</footer>
<p class="copyright">2022 ©  from Evolution Gaming. Play responsibly.</p>
