<header class="header">
  <div class="header__container container">
    <div class="header__jackpot">
      <svg class="header__jackpot-star">
        <use xlink:href="img/sprite.svg#star"></use>
      </svg>
      <p class="header__jackpot-title">jackpot: $5 000 000</p>
    </div>
    <picture>
      <source srcset="img/logo.avif" type="image/avif">
      <source srcset="img/logo.webp" type="image/webp">
      <img loading="lazy" src="img/logo.png" class="image header__logo" width="406" height="142" alt="logo image">
    </picture>
    <button name="play now" class="header__play light-btn">play now</button>
  </div>
</header>
