<section class="hero" id="hero">
  <div class="hero__container container">
    <h1 class="hero__title title">ROCK VEGAS IN GREECE</h1>
    <div class="hero__play">
      <picture>
        <source srcset="img/screenshots/1.avif" type="image/avif">
        <source srcset="img/screenshots/1.webp" type="image/webp">
        <img src="img/screenshots/1.png" class="image hero__play-bg" width="886" height="467" alt="background image">
      </picture>
      <button class="hero__play-demo light-btn" data-graph-path="demo">play for free</button>
      <button class="hero__play-money light-btn">play for money</button>
    </div>
    <button class="hero__btn light-btn">play for real money</button>
  </div>
</section>
