<section class="htp" id="htp">
  <div class="htp__container container">
    <h2 class="htp__title title">H2 How to Play</h2>
    <p class="htp__text text">As mentioned, the game comes with 4 bonus segments;</p>
    <div class="htp__banner">
      <picture>
        <source srcset="img/screenshots/1.avif" type="image/avif">
        <source srcset="img/screenshots/1.webp" type="image/webp">
        <img loading="lazy" src="img/screenshots/1.png" class="image htp__banner-img" width="1170" height="300" alt="banner image">
      </picture>
    </div>
    <h2 class="htp__h2 title">[h2] Title</h2>
    <p class="htp__text text">This bonus features 108 random multipliers covered by random symbols, which are shuffled before a player positions their aim and the timer starts. The player must place a bet on the position they believe the largest multiplier is hiding. The cannon will shoot the target and reveal the won multiplier when the time is up.</p>
    <h3 class="htp__h3">[h3] Title</h3>
    <p class="htp__text text">This bonus features 108 random multipliers covered by random symbols, which are shuffled before a player positions their aim and the timer starts. The player must place a bet on the position they believe the largest multiplier is hiding. The cannon will shoot the target and reveal the won multiplier when the time is up.</p>
    <h4 class="htp__h4">[h4] Title</h4>
    <p class="htp__text text">This bonus features 108 random multipliers covered by random symbols, which are shuffled before a player positions their aim and the timer starts. The player must place a bet on the position they believe the largest multiplier is hiding. The cannon will shoot the target and reveal the won multiplier when the time is up.</p>
    <button class="htp__play light-btn">play now</button>

    <div class="htp__mobile mobile">
      <h2 class="mobile__title title">[h2] Mobile Version</h2>
      <p class="mobile__text text">When selecting the wager on the 4 different multipliers, remember there are 4 bonus features you can bet on too. The coin flip bonus feature has the highest odds and chances of being selected because it's on the four spokes. There's also a multiplier on each side of the coin. Flip the coin to get the multiplier.
      </p>
      <div class="mobile__banner">
        <picture>
          <source srcset="img/screenshots/1.avif" type="image/avif">
          <source srcset="img/screenshots/1.webp" type="image/webp">
          <img loading="lazy" src="img/screenshots/1.png" class="image mobile__banner-img" width="1170" height="300" alt="banner image">
        </picture>
        <button class="mobile__banner-play light-btn">play now</button>
      </div>
    </div>
  </div>
</section>
