<div class="graph-modal">
  <div style="display: none;" itemscope itemtype="https://schema.org/Game">
    <meta itemprop="name" content="Rock Vegas">
    <meta itemprop="description" content="play Rock Vegas in Greece">
    <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
      <span itemprop="ratingValue" content="99"></span>
      <span itemprop="worstRating" content="1"></span>
      <span itemprop="bestRating" content="100"></span>
      <span itemprop="ratingCount" content="100"></span>
    </div>
  </div>
  <div class="graph-modal__container container" role="dialog" aria-modal="true" data-graph-target="preview">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content" data-video>you to be</div>
  </div>
  <div class="graph-modal__container container" role="dialog" aria-modal="true" data-graph-target="demo">
    <div class="graph-modal__content" data-demo>demo</div>
  </div>
</div>
