<section class="review" id="review">
  <div class="review__container container">
    <h2 class="review__title title">casino game review</h2>
    <p class="review__text text">
      The live casino game is set in a large, colourful, entertaining casino studio with a large money wheel, a top slot above the money wheel, and 4 bonus games. The gameplay revolves around the main and bonus games. It's easy to play with just 4 numbers to bet on (1, 2, 5 and 10) plus the bonus games.
    </p>
    <p class="review__text text">
      During the main game, the top slot and money wheel spin together at the beginning of each spin. The top slot will
      generate a random multiplier for a bet number or bonus game. The multiplier then affects the bet number if the
      main wheel stops on the bet spot.
    </p>
    <div class="review__card-wrapper">

      <div class="review__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>

      <div class="review__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>

      <div class="review__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>

      <div class="review__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>

      <div class="review__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>

      <div class="review__card card">
        <div class="card__logo">
          <img loading="lazy" src="img/national_casino.svg" class="image card__logo-img" width="169" height="65"
            alt="logo">
        </div>
        <p class="card__rate">rating 9<span>/10</span></p>
        <p class="card__title">100% up to $9,000 on First Deposit</p>
        <button class="card__play light-btn">play now</button>
      </div>

    </div>

    <div class="review__details details" itemscope itemtype="https://schema.org/Table">
      <meta itemprop="about" content="Game Details">
      <h3 class="details__title">game details</h3>
      <table class="details__table">
        <tbody>
         <tr>
           <td>Provider:</td>
           <td>Lorem Ipsum</td>
         </tr>
         <tr>
           <td>Release Date:</td>
           <td>12.03.2022</td>
         </tr>
         <tr>
           <td>RTP:</td>
           <td>96.30%</td>
         </tr>
         <tr>
           <td>Layout:</td>
           <td>6x4</td>
         </tr>
         <tr>
           <td>Volatility:</td>
           <td>HIGH</td>
         </tr>
         <tr>
           <td>Win Potential:</td>
           <td>x1000</td>
         </tr>
         </tbody>
         <tbody>
         <tr>
           <td>Paylines:</td>
           <td>10</td>
         </tr>
         <tr>
           <td>Bet Range:</td>
           <td>$1 - $100</td>
         </tr>
         <tr>
           <td>Devices:</td>
           <td>PC, Mac, iOS, Android</td>
         </tr>
         <tr>
           <td>Rating:</td>
           <td>5/5</td>
         </tr>
         <tr>
           <td>Special features:</td>
           <td>Bonus Buy, Wild Symbols, Free Spins</td>
         </tr>
        </tbody>
      </table>
    </div>
    <div class="review__video video">
      <picture>
        <source srcset="img/screenshots/1.avif" type="image/avif">
        <source srcset="img/screenshots/1.webp" type="image/webp">
        <img loading="lazy" src="img/screenshots/1.png" class="image video__cover" width="746" height="304" alt="cover">
      </picture>
      <button class="video__play light-btn" data-graph-path="preview">
        <svg class="video__play-svg">
          <use xlink:href="img/sprite.svg#play"></use>
        </svg>
      </button>
    </div>
    <button class="review__play light-btn">play now</button>
  </div>
</section>
