<section class="screen" id="screen">
  <div class="screen__container container">
    <h2 class="screen__title title">[h2] Title</h2>
    <p class="screen__text text">
      Follow these simple steps to start playing the Crazy Times casino game;
    </p>
    <p class="screen__text text">
      In this live casino game, you'll have 8 different wagers, including numbers 1,2, 5 and 10. After that, select the amount you want to play with from the available coin values available; 0.2, 0.5, 1, 5, 25, 100 and 500.
There are also 4 different bonus rounds, including;
    </p>
    <h2 class="screen__title title">H2 Screenshots</h2>
  </div>
  <div class="swiper screen__swiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide">
       <picture>
         <source srcset="/img/screenshots/1.avif" type="image/avif">
         <source srcset="/img/screenshots/1.webp" type="image/webp">
         <img loading="lazy" src="/img/screenshots/1.png" class="image" width="620" height="349" alt="screeshot 1">
       </picture>
      </div>

      <div class="swiper-slide">
       <picture>
         <source srcset="/img/screenshots/2.avif" type="image/avif">
         <source srcset="/img/screenshots/2.webp" type="image/webp">
         <img loading="lazy" src="/img/screenshots/2.png" class="image" width="620" height="349" alt="screeshot 2">
       </picture>
      </div>

      <div class="swiper-slide">
       <picture>
         <source srcset="/img/screenshots/3.avif" type="image/avif">
         <source srcset="/img/screenshots/3.webp" type="image/webp">
         <img loading="lazy" src="/img/screenshots/3.png" class="image" width="620" height="349" alt="screeshot 3">
       </picture>
      </div>

      <div class="swiper-slide">
       <picture>
         <source srcset="/img/screenshots/4.avif" type="image/avif">
         <source srcset="/img/screenshots/4.webp" type="image/webp">
         <img loading="lazy" src="/img/screenshots/4.png" class="image" width="620" height="349" alt="screeshot 4">
       </picture>
      </div>
    </div>
  </div>
  <div class="swiper-nav">
    <div class="swiper-button-prev">prev</div>
    <span class="rect"></span>
    <div class="swiper-pagination"></div>
    <span class="rect"></span>
    <div class="swiper-button-next">next</div>
  </div>
</section>

