<section class="tips" id="tips">
  <div class="tips__container container">
    <h2 class="tips__title title">H2 Tips How to Win</h2>
    <p class="tips__text text">No strategy can be employed while playing Crazy Time in India. The casino game utilizes a
      random number generator system that ensures all games are free from bias. A player's previous wins or losses do
      not affect future spins. The online casino game depends on luck rather than strategy.</p>
    <ul>
      <li>Cash hunt</li>
      <li>Coin Flip</li>
      <li>Pachinko</li>
      <li>Crazy Time</li>
    </ul>
    <p class="tips__text text">No strategy can be employed while playing Crazy Time in India. The casino game utilizes a
      random number generator system that ensures all games are free from bias. A player's previous wins or losses do
      not affect future spins. The online casino game depends on luck rather than strategy.</p>
    <button class="tips__play light-btn">play now</button>

    <div class="tips_best-cosino best">
      <h2 class="best__title title">Best Casinos to Play</h2>

      <div class="best__cards cards-wrapper">

        <div class="best__cards-item card">
          <div class="card__left">
            <img loading="lazy" src="img/national_casino.svg" class="image card__left-logo" width="188" height="83" alt="logo">
            <p class="card__left-rate">rating 9<span>/10</span></p>
          </div>
          <div class="card__center">
            <p class="card__center-title">100% up to $9,000 on First Deposit</p>
            <div class="card__center-pay pay">
              <img loading="lazy" src="img/pay/visa.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/mastercard.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/diners.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/discover.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/ltc.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/btc.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/eth.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/eco.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/jeton.svg" class="image pay__img" height="26" alt="pay method">
            </div>
          </div>
          <div class="card__right">
            <button class="card__right-play light-btn">play now</button>
            <button class="card__right-demo light-btn">play demo</button>
          </div>
        </div>

        <div class="best__cards-item card">
          <div class="card__left">
            <img loading="lazy" src="img/national_casino.svg" class="image card__left-logo" width="188" height="83" alt="logo">
            <p class="card__left-rate">rating 9<span>/10</span></p>
          </div>
          <div class="card__center">
            <p class="card__center-title">100% up to $9,000 on First Deposit</p>
            <div class="card__center-pay pay">
              <img loading="lazy" src="img/pay/visa.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/mastercard.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/diners.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/discover.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/ltc.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/btc.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/eth.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/eco.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/jeton.svg" class="image pay__img" height="26" alt="pay method">
            </div>
          </div>
          <div class="card__right">
            <button class="card__right-play light-btn">play now</button>
            <button class="card__right-demo light-btn">play demo</button>
          </div>
        </div>

        <div class="best__cards-item card">
          <div class="card__left">
            <img loading="lazy" src="img/national_casino.svg" class="image card__left-logo" width="188" height="83" alt="logo">
            <p class="card__left-rate">rating 9<span>/10</span></p>
          </div>
          <div class="card__center">
            <p class="card__center-title">100% up to $9,000 on First Deposit</p>
            <div class="card__center-pay pay">
              <img loading="lazy" src="img/pay/visa.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/mastercard.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/diners.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/discover.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/ltc.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/btc.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/eth.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/eco.svg" class="image pay__img" height="26" alt="pay method">
              <img loading="lazy" src="img/pay/jeton.svg" class="image pay__img" height="26" alt="pay method">
            </div>
          </div>
          <div class="card__right">
            <button class="card__right-play light-btn">play now</button>
            <button class="card__right-demo light-btn">play demo</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
